.upload-container{
    display: flex;
    gap:15px;
    flex-direction: column;
    height: 50vh;
    background-color:transparent;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
  width:auto;
  padding: 20px;
  border-radius: 10px;
  border: none;
  color: #444;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: 2px groove #000000;
  border-radius: 5px;
  background: rgb(239, 159, 10);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: tomato;
  color: white;;
}
.drop {
    background-color: transparent;
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width:510px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
  color: #444;
  cursor: pointer;
}
.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}
.submit-btn {
    background-color: #43c75e;
    color: #ffff;
    padding: 10px 15px;
    border:none;
    border-radius: 7px;
    width: auto;
    height: auto;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: red;
}